.error {
  color: red
}


#map {
  height: 500px;
}

#events {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

#googleMaps {
  width: 100%;
  height: 100%;
}

#event {
  position: absolute;
  top: 50%;
}

body .modal {
  position: fixed;
  top: 10%;
  left: 30%;
  right: 30%;
  bottom: 30%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  display: block;
}

#info {
  background-image: url("../images/frontpage.jpg");
  height: 450px;
  width: 400px;
}

#account {
  border: 1px solid #ccc;
  height: 450px;
  width: 400px;
}

.centered {
  text-align: center;
  margin-bottom: 100px;
}

.form {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

#home {
  margin-top: 100px;
  margin-right: 100px;
  margin-left: 200px;
  margin-bottom: 100px;
}

#chat {
  border: none;
}

.other .msg {
  text-align: right;
}

.self .msg {
  text-align: left;
}

time {
  font-size: 10px;
}

.msg p {
  font-size: 15px;
  margin: 0 0 2px 0;
  color: black;
  transition: all .2s ease;
}
