.error {
  color: red
}

#map {
  height: 50vh;
  width: 50vw;
  top: 50%;
  position: relative;
}

#background {
  background-image: url("../images/frontpage.jpg");
  height: 500px;
  width: 1000px;
}
