.error {
  color: red
}

#events {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.google-map{
  height: 350px;
  width: 100%;
}

body .modal {
  position: fixed;
  top: 22%;
  left: 20%;
  right: 20%;
  bottom: 30%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: visible;
  border-radius: 4px;
  outline: none;
  display: block;
}

h2 {
  margin:0px;
}

.frontLogo {
  float:left;
  margin-top: 8px;
}

#frontImg {
  float: left;
  width: 350px;
  height: 444px;
}

.account {
  float: left;
  border: 1px solid #ccc;
  width: 350px;
  height: 444px;
}

.centered {
  text-align: center;
  margin-bottom: 80px;
}

.event-form {
  margin-top: 20px;
}

.login-form {
  margin: 20px;
}

#chat {
  border: none;
}

.other .msg {
  text-align: right;
}

.self .msg {
  text-align: left;
}

time {
  font-size: 10px;
}

.msg p {
  font-size: 15px;
  margin: 0 0 2px 0;
  color: black;
  transition: all .2s ease;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.menu-scroll {
  overflow-y: scroll;
  max-height: 210px;
}

.event {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.list-group li:hover{
  border-color: #00BFFF;
  border-width: medium;
}

.navbar-brand{
  margin-top: -8px;
}

span img {
  margin-bottom: 10px;
}

ul li a {
  margin-top: -3px;
  margin-right: -15px;
}

.messages {
  margin-left: 10%;
  margin-right: 10%;
}

.chat-form {
  margin-left: 10%;
  margin-right: 10%;
}

@media (min-width: 768px) {
  .google-map{
    height: 500px;
  }

  .navbar-form input{
    min-width: 400px;
  }
}

@media (min-width: 1024px) {

  .event{
    margin-top: 10%;
    border: none;
    border-radius: none;
  }
}
